#banner_wrapper{
    height: 450px;
    background: #ffffff;
}.content{
    width: 1150px;
    margin: 0 auto;
}
.banner{
    height: 450px;
    background: #ffffff;
    position: relative;
    overflow: hidden;
}
.banner_box{
    position: relative;
}
.banner_box li{
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}
.banner_uu{
    position: absolute;
    bottom: 0;
    right: 516px;
    width: 118px;
    height: 26px;
    background: #781426;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border-radius: 15px;
}
.banner_uu li{
    float: left;
    width: 12px;
    height: 12px;
    background: #c79fa7;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}