/* 公共底部 */
#footer_wrapper{
    height: 319px;
    background: #000000;
}
.content{
    width: 1440px;
    margin: 0 auto;
}
.footer{
    height: 319px;
    width: 1152px;
    background: #000000;
    color: #666666;
    padding: 0 144px;
}
.footer .promise{
    width: 1152px;
    height: 28px;
    padding: 22px 0 14px;
    color: #ffffff;
}
.promise .left{
    float: left;
    margin-right: 60px;
    text-align: center;
}
.promise .left .foot_icon:first-child i{
    font-size: 27px;    
    text-align: center;

}
.promise .left .foot_icon{
    font-size: 22px;
    margin-right: 9px;
    font-weight: 600;
    vertical-align: middle;
}
.promise .left .red{
    color: #e01;
}
.promise .left:nth-child(3) a{
    color: #ffffff;
}
.promise .right{
    width: 240px;
    float: right;
    border: 1px solid #262626;
    position: relative;
}
.promise .right input{
    width: 180px;
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    margin: 0;
    background: #000;
    color: #666;
}
.promise .right .iconfont{
    color: #666;
}

/* 帮助链接 */
.footer .footer_help{
    height: 120px;
    border-top: 1px solid #666;
    padding: 14px 0;
}
.footer_help li{
    float: left;
    width: 180px;
}
.footer_help li:last-child{
    width: 72px;
}
.footer_help li p{
    color: #ffffff;
    height: 22px;
}
.footer_help li p a{
    color: #666;
}
.footer_help li p a:hover{
    text-decoration: underline;
}

/* 关于我们 */
 .footer .about-us{
    height: 60px;
    width: 1150px;
}
.about-us .ab_left{
    float: left;
    margin-top: 14px;
}
.about-us .ab_left a{
    display: inline;
    margin-right: 8px;
}
.ab_right{
    margin-top: 14px;
    width: 910px;
    float: right;
}
.ab_right li{
    float: left;
    margin-bottom: 5px;
}
.ab_right li a{
    color: #666;
}
.ab_right li span{
    display: inline;
    margin: 0 12px;
}
.ab_right li:last-child a img{
    vertical-align: middle;
}

/* 版权 */
.footer .copyright{
    margin: 12px 0 0 220px;
} 
