#help_wrapper {
    height: 996px;
    background: #ffffff;
  }
  .content {
    width: 990px;
    margin: 0 auto;
  }
  .help {
    height: 996px;
    background: #ffffff;
  }
  .help_main_tip {
    height: 40px;
    line-height: 40px;
    i {
      font-size: 15px;
      color: #000000;
    }
    a {
      color: #666666;
      &:nth-child(3) {
        font-weight: 600;
        color: #666666;
      }
    }
  }
  /* 左边列表 */
  .help_main_left {
    float: left;
    a {
      display: block;
      width: 162px;
      height: 55px;
      border: 1px solid #e8e8e8;
      background: #fbfbfb;
      .noicon {
        margin-left: 46px;
      }
      li {
        height: 100%;
        line-height: 55px;
        font-size: 16px;
        margin-left: 20px;
        i {
          display: inline;
          margin-right: 15px;
        }
      }
      &:first-child {
        background: #eaeaea;
        li {
          font-size: 18px;
          margin-left: 20px;
        }
      }
    }
    & > ul {
      & > .but1 {
        & > li {
          & > ul {
            display: none;
          }
        }
      }
    }
  }
  /* 帮助中心main右边开始 */
  .help_main_right {
    width: 786px;
    height: 1006px;
    float: right;
    border: 1px solid #e0e0e0;
  }
  .hmr_top {
    width: 786px;
    height: 218px;
    background: #f5f5f5;
    padding-top: 30px;
    .help_title {
      width: 238px;
      height: 60px;
      font-size: 18px;
      margin-left: 280px;
      h2 {
        font-weight: 800;
        float: right;
      }
      p {
        font-weight: 800;
        float: right;
      }
      img {
        display: block;
        float: left;
        margin-right: 28px;
      }
    }
    .xieyi {
      width: 250px;
      height: 14px;
      margin: 20px 0 10px 278px;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    form {
      position: relative;
    }
    input {
      width: 288px;
      height: 34px;
      margin-left: 238px;
      padding-left: 22px;
      border: 1px solid #000000;
    }
    i {
      position: absolute;
      font-weight: 600;
      right: 247px;
      top: 10px;
    }
    .inp {
      &::-webkit-input-placeholder {
        color: #989898;
      }
    }
    .fuwu {
      width: 228px;
      height: 16px;
      margin: 14px 0 0 278px;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        li {
          a {
            font-size: 14px;
          }
        }
      }
    }
    a {
      &:hover {
        color: red;
      }
    }
  }
  .xieyi {
    li {
      list-style: inherit;
      float: left;
      font-size: 14px;
    }
  }
  .hmr_bottom {
    width: 786px;
    height: 735px;
    padding-top: 25px;
    .Novice {
      width: 100%;
      height: 174px;
    }
    .self_service {
      height: 290px;
    }
    .problem {
      height: 268px;
    }
  }
  /* 新手指南 */
  .Novice {
    h2 {
      width: 727px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      display: block;
      background: #f5f5f5;
      margin: 0 0 0 22px;
      padding-left: 13px;
    }
    ul {
      width: 100%;
      height: 144px;
      display: flex;
      justify-content: space-around;
      li {
        display: flex;
        align-items: center;
        a {
          display: flex;
          width: 56px;
          flex-direction: column;
          align-items: center;
          font-size: 14px;
          img {
            display: block;
            width: 55px;
            height: 55px;
            margin-bottom: 14px;
          }
        }
      }
    }
  }
  /* 自助服务 */
  .self_service {
    h2 {
      width: 727px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      display: block;
      background: #f5f5f5;
      margin-left: 22px;
      padding-left: 13px;
    }
    ul {
      width: 100%;
      height: 260px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        display: flex;
        width: 196px;
        align-items: center;
        justify-content: center;
        a {
          display: flex;
          width: 56px;
          flex-direction: column;
          align-items: center;
          font-size: 14px;
          img {
            display: block;
            width: 55px;
            height: 55px;
            margin-bottom: 14px;
          }
        }
      }
    }
  }
  /* 常见问题 */
  .problem {
    h2 {
      width: 727px;
      height: 30px;
      font-size: 14px;
      line-height: 30px;
      display: block;
      background: #f5f5f5;
      margin-left: 22px;
      padding-left: 13px;
    }
    ul {
      height: 240px;
      width: 786px;
      padding: 19px 0;
      li {
        display: block;
        float: left;
        height: 34px;
        width: 393px;
        position: relative;
      }
      a {
        margin-left: 58px;
        font-size: 14px;
        &::before {
          content: '';
          height: 3px;
          width: 3px;
          display: block;
          position: absolute;
          left: 52px;
          top: 7px;
          border-radius: 50%;
          background: #000000;
        }
        &:hover {
          color: red;
        }
      }
    }
  }
  