.content {
	width: 990px;
	margin: 0 auto;
  }
  #header_wrapper {
	border-bottom: 2px solid #222222;
	height: 66px;
  }
  .header {
	width: 990px;
	height: 66px;
	margin: 0 auto;
  }
  .header_logo {
	float: left;
	margin-top: 13px;
	a {
	  display: block;
	  width: 171px;
	  height: 40px;
	  background: url(../images/用户登录/logo_e.png);
	}
  }
  .header_nav {
	float: right;
	display: flex;
	height: 66px;
	align-items: center;
	i {
	  font-size: 10px;
	}
	li {
	  float: left;
	  margin-right: 20px;
	}
	.tool-goods {
	  a {
		line-height: 28px;
	  }
	}
	.tool-options {
	  display: none;
	  position: absolute;
	  a {
		display: block;
	  }
	}
  }
  .tool-goods {
	position: relative;
  }
  #login_main_wrapper {
	height: 689px;
  }
  .login_main {
	width: 990px;
	margin: 0 auto;
	height: 689px;
	& > p {
	  line-height: 25px;
	  text-align: center;
	  margin-top: 30px;
	  height: 990px;
	  background: #f5f5f5;
	  height: 25px;
	  & > i {
		font-size: 12px;
		font-weight: 900;
	  }
	  b {
		color: #ff0000;
	  }
	}
  }
  .lg_left {
	margin-top: 109px;
	float: left;
	width: 495px;
	height: 418px;
	border-right: 1px solid #dfdfdf;
	a {
	  margin: 100px 0 0 80px;
	  display: block;
	  width: 252px;
	  height: 190px;
	  background: url(../images/用户登录/01452deb180bc99679d4472de9ca04feae.jpg) no-repeat;
	}
  }
  .lg_right {
	float: left;
	margin-top: 109px;
	height: 358px;
	width: 355px;
  }
  .lg_r_t_b {
	float: right;
  }
  .lg_r_top {
	width: 270px;
	height: 40px;
	float: right;
	i {
	  display: inline-block;
	  height: 30px;
	  line-height: 30px;
	  text-align: center;
	  color: #9b9b9b;
	  width: 119px;
	  background: url(../images/用户登录/sprite.passport.png);
	  background-position: -323px -70px;
	}
	a {
	  display: block;
	  cursor: pointer;
	  float: right;
	  height: 38px;
	  width: 38px;
	  background: url(../images/用户登录/sprite.passport.png);
	  background-position: -323px -108px;
	}
  }
  .lg_r_bottom {
	width: 270px;
	height: 305px;
	float: right;
	text-align: center;
	margin-top: 32px;
	& > p {
	  font-weight: 900;
	  font-size: 16px;
	}
	span {
	  display: inline-block;
	  text-align: left;
	  color: #9b9b9b;
	}
	a {
	  display: block;
	  color: #ff0000;
	}
	i {
	  background-image: url(../images/用户登录/sprite.passport.png);
	  width: 28px;
	  height: 28px;
	  display: inline-block;
	  margin-right: 17px;
	  background-position: -478px -35px;
	}
  }
  .lg_code {
	height: 140px;
	margin: 38px 0 0 65px;
	width: 140px;
	background: url(../images/用户登录/01dce3f4c011e664dcfed9cd836377aeb7.png) no-repeat;
	background-size: contain;
  }
  .lg_saoys {
	margin: 24px auto;
	width: 188px;
	height: 30px;
  }
  /* 会员登录 */
  .lg_right_change {
	display: none;
	float: left;
	margin-top: 109px;
	height: 358px;
	width: 355px;
  }
  .lg_r_c_bottom {
	width: 270px;
	height: 305px;
	float: right;
	text-align: center;
	margin-top: 32px;
  }
  .lg_select {
	height: 20px;
	line-height: 20px;
	h3 {
	  float: left;
	  font-size: 18px;
	  color: #000;
	}
	button {
	  border: 0;
	  float: right;
	  background: #fff;
	  outline: 0;
	}
  }
  .switcher {
	height: 25px;
	position: relative;
	margin-top: 26px;
	a {
	  display: inline-block;
	  width: 145px;
	  height: 25px;
	  &:nth-child(1) {
		position: absolute;
		cursor: pointer;
		left: 0;
		background: #000;
		color: #fff;
		line-height: 25px;
		border-radius: 10px;
		z-index: 2;
	  }
	  &:nth-child(2) {
		position: absolute;
		cursor: pointer;
		right: 0;
		line-height: 25px;
		border-radius: 10px;
		background: #ccc;
		z-index: 1;
	  }
	}
  }
  form {
	input {
	  width: 268px;
	  height: 45px;
	  margin-top: 26px;
	  outline: none;
	  border-style: solid;
	  border-width: 1px;
	}
  }
  .form_tel_lg {
	display: none;
	div {
	  position: relative;
	  span {
		width: 200px;
		position: absolute;
		text-align: left;
		left: 292px;
		top: 40px;
	  }
	}
  }
  .form_common_lg {
	div {
	  position: relative;
	  &:nth-child(1) {
		span {
		  width: 200px;
		  position: absolute;
		  text-align: left;
		  left: 292px;
		  top: 40px;
		}
	  }
	  &:nth-child(2) {
		span {
		  width: 200px;
		  position: absolute;
		  text-align: left;
		  left: 292px;
		  top: 40px;
		}
	  }
	}
  }
  .check_i {
	display: block;
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(../images/用户登录/sprite.passport.png) -515px -36px;
	margin-right: 5px;
  }
  .check_color {
	color: #ff0000;
  }
  .img_check {
	margin-top: 26px;
  }
  .img_c_t {
	i {
	  color: #b0b0b0;
	  float: left;
	}
	a {
	  color: #ff1901;
	  float: right;
	}
  }
  .img_c_b {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	li {
	  float: left;
	  a {
		height: 60px;
		width: 60px;
		border: 1px solid #e0e0e0;
		display: block;
	  }
	}
  }
  #lg_btn {
	cursor: pointer;
	margin-top: 28px;
	width: 270px;
	height: 46px;
	outline: none;
	border: 0;
	background: #ff1901;
	color: #fff;
  }
  .message {
	display: none;
	margin-top: 28px;
	input {
	  float: left;
	  width: 128px;
	  height: 45px;
	  border: 1px solid #dbdbdb;
	}
	button {
	  cursor: pointer;
	  float: right;
	  outline: none;
	  border: 0;
	  width: 128px;
	  height: 46px;
	  background: #ff1901;
	  color: #fff;
	}
  }
  .rember_status {
	margin-top: 25px;
	font-size: 14px;
	em {
	  float: left;
	  color: #b9b9b9;
	}
	span {
	  float: right;
	  a {
		&:nth-child(1) {
		  color: #b9b9b9;
		}
		&:nth-child(2) {
		  color: #ff1901;
		}
	  }
	}
  }
  .other {
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
	li {
	  a {
		display: block;
		height: 30px;
		width: 30px;
	  }
	  &:nth-child(1) {
		a {
		  background: url(../images/用户登录/sprite.passport.png) -527px -70px;
		}
	  }
	  &:nth-child(2) {
		a {
		  background: url(../images/用户登录/sprite.passport.png) -565px -70px;
		}
	  }
	  &:nth-child(3) {
		a {
		  background: url(../images/用户登录/sprite.passport.png) -451px -70px;
		}
	  }
	}
  }
  