.goods-info{
    display: inline-block;
    margin-right: 10px;
    
    div{
        a{
            display: inline-block;
            img{
                width: 235px;
                height: 315px;
            }
        }
    }
    .goods-message{
        .brand{
            margin: 6px 0 12px 0;
            color: #9a9a9a;
        }
        a{
            display: block;
            width: 235px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;    
        }
     
    }
}
.shop-list{
    width: 990px;
    margin: 0 auto;
}