*{
    margin: 0 ;
    padding: 0;
}
body,html{
    font:12px "微软雅黑",arial;
    
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,strong,b{
    font-weight: normal;
    font-style: normal;
}
.clearfix:after{
    content: " ";
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
input{
	outline:none;
}
i,em{
	font-style:normal;
}